 <div class="welcome-container">
      <%= image_tag('logo-cover.png', class:"logo-cover", style:"margin-top: 20px") %>
      <h3 style="margin-top: 50px">Droptop est une plateforme de mise en relation de missions 
      entre les ingénieurs d'affaire et les ingénieurs en intercontrat. 
      <br><br> Inscrivez-vous pour avoir accès à toutes les missions.</h3>
      <div style="margin-top: 80px">
         <%= link_to "Inscription", new_user_session_url, class: "button glow-button" %>
      </div>
</div>