 <div class="welcome-container">
      <%= image_tag('logo-cover.png', class:"logo-cover", style:"margin-top: 20px") %>
      <h3 style="margin-top: 50px">Droptop est une plateforme de mise en relation de missions 
      entre les ingénieurs d'affaire et les ingénieurs en intercontrat. 
      <br><br> Inscrivez-vous pour avoir accès à toutes les missions.</h3>
      <div style="margin-top: 80px">
          <a href="https://superdevresources.com/css-button-glow-effect//" class="button glow-button" target="_blank">Inscription</a>
      </div>
</div>